**Basic Python**

**1. Split this String**

In [1]:
s = "Hi there Sam!"

In [2]:
print(s.split())

['Hi', 'there', 'Sam!']

**2. Use .format() to print the following string**

**Output should be: The diameter of Earth is 12742 kilometers.**

In [3]:
planet = "Earth"
diameter = 12742

In [4]:
txt1 = "The diameter of {0} is {1} kilometers.".format(planet,diameter)
print(txt1)

The diameter of Earth is 12742 kilometers.

**3. In this nest dictionary grab the word "hello"**

In [8]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [9]:
a = d['k1'][3]['tricky'][3]['target'][3]
print(a)

hello

**Numpy**

In [10]:
import numpy as np

**4.1 Create an array of 10 zeros?**

**4.2 Create an array of 10 fives?**

In [11]:
ten_zeros = np.zeros(10)
print(ten_zeros)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [12]:
ten_five = np.ones(10)*5
print(ten_five)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

**5. Create an array of all the even integers from 20 to 35**

In [13]:
array = np.arange(20,35)
array1 = (array%2 == 0)
out = array[array1]
print(out)

[20 22 24 26 28 30 32 34]

**6. Create a 3x3 matrix with values ranging from 0 to 8**

In [14]:
matrix = np.arange(0,9).reshape((3,3))
print(matrix)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

**7. Concatenate a and b**

**a = np.array([1, 2, 3]), b = np.array([4, 5, 6])**

In [15]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
a_b = np.concatenate((a,b))
print(a_b)

[1 2 3 4 5 6]

**Pandas**

**8. Create a dataframe with 3 rows and 2 columns**

In [16]:
import pandas as pd

In [17]:
data_frame = {'col_1': [0,0,0], 'col_2': [0,0,0]}
df = pd.DataFrame(data=data_frame)
print(df)

   col_1  col_2
0      0      0
1      0      0
2      0      0

**9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023**

In [18]:
dates = pd.date_range(start ='1-1-2023', 
         end ='2-10-2023')
print(dates)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10'],
              dtype='datetime64[ns]', freq='D')

**10. Create 2D list to DataFrame**

In [19]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [20]:
list_pd = pd.DataFrame(lists)
print(list_pd)

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24